{{template "base" .}}

{{define "title"}}
    Admin Users
{{end}}

{{define "content"}}
<h2 class="mt-5">Admin Users</h2>
<hr>

{{end}}

{{define "js"}}
<script>
    let = document.getElementById("user-table").getElementsByTagName("tbody")[0]
</script>

{{end}}